<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_whatexamed.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_whatexamed_path(@adults_whatexamed) %> |
<%= link_to 'Back', adults_whatexameds_path %>
