<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_separate.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_separate_path(@adults_separate) %> |
<%= link_to 'Back', adults_separates_path %>
