<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_localexamed.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_localexamed_path(@adults_localexamed) %> |
<%= link_to 'Back', adults_localexameds_path %>
