<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_classtype.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_classtype_path(@adults_classtype) %> |
<%= link_to 'Back', adults_classtypes_path %>
