<h1>Listing kojenadult_adults_howyouknowuships</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kojenadult_adults_howyouknowuships.each do |kojenadult_adults_howyouknowuship| %>
  <tr>
    <td><%= link_to 'Show', kojenadult_adults_howyouknowuship %></td>
    <td><%= link_to 'Edit', edit_kojenadult_adults_howyouknowuship_path(kojenadult_adults_howyouknowuship) %></td>
    <td><%= link_to 'Destroy', kojenadult_adults_howyouknowuship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kojenadult adults howyouknowuship', new_kojenadult_adults_howyouknowuship_path %>
