<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_kojenadult_adults_howyouknowuship_path(@kojenadult_adults_howyouknowuship) %> |
<%= link_to 'Back', kojenadult_adults_howyouknowuships_path %>
