<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_japan.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_japan_path(@adults_japan) %> |
<%= link_to 'Back', adults_japans_path %>
