<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_howyouknowu.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_howyouknowu_path(@adults_howyouknowu) %> |
<%= link_to 'Back', adults_howyouknowus_path %>
