<h1>Listing kojenadults_classe_ships</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kojenadults_classe_ships.each do |kojenadults_classe_ship| %>
  <tr>
    <td><%= link_to 'Show', kojenadults_classe_ship %></td>
    <td><%= link_to 'Edit', edit_kojenadults_classe_ship_path(kojenadults_classe_ship) %></td>
    <td><%= link_to 'Destroy', kojenadults_classe_ship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kojenadults classe ship', new_kojenadults_classe_ship_path %>
