<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_license.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_license_path(@adults_license) %> |
<%= link_to 'Back', adults_licenses_path %>
