<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_kojenadult_adults_localexamedship_path(@kojenadult_adults_localexamedship) %> |
<%= link_to 'Back', kojenadult_adults_localexamedships_path %>
