<h1>Editing kojenadult_session_descriptionship</h1>

<%= render 'form' %>

<%= link_to 'Show', @kojenadult_session_descriptionship %> |
<%= link_to 'Back', kojenadult_session_descriptionships_path %>
