<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_kojenadult_session_descriptionship_path(@kojenadult_session_descriptionship) %> |
<%= link_to 'Back', kojenadult_session_descriptionships_path %>
