<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_refinement_lesson.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_refinement_lesson_path(@adults_refinement_lesson) %> |
<%= link_to 'Back', adults_refinement_lessons_path %>
