<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_kojenadult_adults_whatexamedship_path(@kojenadult_adults_whatexamedship) %> |
<%= link_to 'Back', kojenadult_adults_whatexamedships_path %>
