<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_graduated.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_graduated_path(@adults_graduated) %> |
<%= link_to 'Back', adults_graduateds_path %>
