<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_online.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_online_path(@adults_online) %> |
<%= link_to 'Back', adults_onlines_path %>
