<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_unit.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_unit_path(@adults_unit) %> |
<%= link_to 'Back', adults_units_path %>
