<h1>Editing kojenadult_adults_refinement_lessonship</h1>

<%= render 'form' %>

<%= link_to 'Show', @kojenadult_adults_refinement_lessonship %> |
<%= link_to 'Back', kojenadult_adults_refinement_lessonships_path %>
