<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_kojenadult_adults_refinement_lessonship_path(@kojenadult_adults_refinement_lessonship) %> |
<%= link_to 'Back', kojenadult_adults_refinement_lessonships_path %>
