<h1>Listing kojenadult_adults_graduatedships</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kojenadult_adults_graduatedships.each do |kojenadult_adults_graduatedship| %>
  <tr>
    <td><%= link_to 'Show', kojenadult_adults_graduatedship %></td>
    <td><%= link_to 'Edit', edit_kojenadult_adults_graduatedship_path(kojenadult_adults_graduatedship) %></td>
    <td><%= link_to 'Destroy', kojenadult_adults_graduatedship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kojenadult adults graduatedship', new_kojenadult_adults_graduatedship_path %>
