<p id="notice"><%= notice %></p>

<p>
  <b>Reason desc:</b>
  <%= @adults_whylearn.reason_desc %>
</p>


<%= link_to 'Edit', edit_adults_whylearn_path(@adults_whylearn) %> |
<%= link_to 'Back', adults_whylearns_path %>
